<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shops</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
            <a href='/zoo/theShops/'>The Shops</a>
        </nav>
    </header>
    <div class='main'>
        <div class='all'>
            {% for shop in shops %}
            <section class='one'>
                <h4>{{shop.shopName}}</h4>
                <p>{{shop.shopDescription}}</p>
                <a href='/zoo/{{shop.id}}/editShop'>Edit Shop</a>
            </section>
            {% endfor %}
        </div>
        <div class='add'>
            <form action='/zoo/createShop/' method='post'>
                {% csrf_token %}
                <section class='row'>
                    <label for='shopName'>Shop Name: </label>
                    <input type='text' id='shopName' name='shopName'>
                </section>
                <section class='row'>
                    <label for='shopDescription'>Shop Description</label>
                    <textarea name='shopDescription' id='shopDescription'></textarea>
                </section>
                <button>Add Shop</button>
            </form>
        </div>
    </div>
</body>
</html>