<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{theZoo.zooName}} Details</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/officialStyles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Website Home</a>
            <a href='/zoo/'>Zoo Home</a>
            <a href='/zoo/theZoos/'>All Zoos</a>
            <a href='/zoo/theAnimals/'>All Animals</a>
            <a href='/zoo/theEmployees/'>Employee's</a>
            <a href='/zoo/theShops/'>The Shops</a>
        </nav>
    </header>
    <div class='main'>
        <h1>The {{theZoo.zooName}}</h1>
        <h3>Animals Currently at the {{theZoo.zooName}}</h3>
        <section class='all'>
            {% for animal in theAnimals %}
            <section class='one'>
                <h4>{{animal.animalName}}</h4>
                <h5>{{animal.animalType}}</h5>
                <h5>{{animal.animalBirth}}</h5>
            </section>
            {% endfor %}
        </section>
        <h3>{{theZoo.zooName}}'s Current Rock Star Employee's</h3>
        <section class='all'>
            {% for employee in theEmployees %}
            <section class='one'>
                <h4>{{employee.firstName}} {{employee.lastName}}</h4>
                <h5>Contact email for {{employee.firstName}}: {{employee.email}}</h5>
            </section>
            {% endfor %}
        </section>
    </div>
</body>
</html>